@use '../../scss/variables' as *;

.hero {
    margin: calc(2 * $margin-2xl) 0;

    .flex {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 50%;
                flex: 1 0 50%;
    }

    p {
        margin: $margin-lg 0;
    }

    .svg {
        &__color {
            fill: $primary-color;
        }
        &__blob {
            fill: $primary-color-light;
        }
    }
}
