@use '../../scss/variables' as *;
@use '../../scss/common' as *;

.card {
    .flex {
        @include horizontal-list($margin-2xl);
    }

    .reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}
