@use '../../scss/variables' as *;
@use '../../scss/common' as *;

.card {
    margin: $margin-2xl;

    .flex {
        @include horizontal-list($margin-2xl);

        > div {
            @include horizontal-50-50;
            padding: $padding-xl;
        }

        h3 {
            margin-bottom: 20px;
            width: 75%;
        }
    }

    .reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}
