@use '../../scss/variables' as *;
@use '../../scss/common' as *;

.header-nav {
    @include horizontal-list;

    ul {
        @include reset-list;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

        li {
            padding: $padding-md $padding-lg;
            font-size: $font-sm;
            font-weight: 600;
            color: var(--title-color);
            cursor: pointer;
            position: relative;

            @include smooth-animation;

            &:after {
                content: ' ';
                width: 5px;
                height: 5px;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -ms-border-radius: 100%;
                -o-border-radius: 100%;
                @include absolute-center-x;
                bottom: 0;
                visibility: hidden;
            }

            &.active {
                color: var(--primary-color);

                &:after {
                    visibility: visible;
                    background-color: var(--primary-color);
                }
            }

            &:hover {
                color: var(--primary-color-hover);

                &:after {
                    background-color: var(--primary-color-hover);
                }
            }
        }
    }

    .theme-toggle {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        cursor: pointer;

        svg {
            font-size: $font-xl;
        }
    }
}
