@use 'variables' as *;
@use 'common' as *;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-family-base;
    font-size: $font-md;
    color: $text-color;

    @include smooth-animation;
}

h1,
h2,
h3 {
    font-family: $font-family-base;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: $title-color;
}

h1 {
    font-size: $font-2xl;
}

h2 {
    font-size: $font-xl;
}

h3 {
    font-size: $font-lg;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    display: inline-block;
    background-color: $primary-color;
    color: $title-color;
    font-weight: 700;
    font-size: $font-sm;
    padding: $padding-lg $padding-2xl;
    cursor: pointer;
    border: none;

    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

    @include smooth-animation;
}

button:hover {
    background-color: $primary-color-hover;
}
